<div class="container mt-5">
  <!-- Header -->
  <div class="d-flex flex-column flex-md-row justify-content-between align-items-md-center mb-4">
    <div class="order-2 order-md-1 mb-3 mb-md-0 text-center text-md-start">
      <button class="btn btn-primary me-2" (click)="calculatePrice()" [disabled]="isLoading">
        Calcola
      </button>
      <button class="btn btn-secondary" (click)="downloadPdf()" [disabled]="isLoading">
        Scarica Preventivo
      </button>
    </div>
    <app-price-display
      [price]="price"
      class="order-1 order-md-2 mb-3 mb-md-0 text-center text-md-end">
    </app-price-display>
  </div>


  <!-- Form with Tabs -->
  <form [formGroup]="form" class="row g-3 innova-form">
    <ul class="nav nav-tabs" id="tab" #tab role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="personal-tab" data-bs-toggle="tab" data-bs-target="#personalSection"
                [ngClass]="{ 'tab-is-invalid': hasErrorsInPersonalData() }" type="button" role="tab">
          Sezione Anagrafica
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="product-tab" data-bs-toggle="tab" data-bs-target="#productSection"
                [ngClass]="{ 'tab-is-invalid': hasErrorsInProductData() }" type="button" role="tab">
          Sezione Prodotto
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="measurements-tab" data-bs-toggle="tab" data-bs-target="#measurementsSection"
                [ngClass]="{ 'tab-is-invalid': hasErrorsInWindowsData() }" type="button" role="tab">
          Sezione Misure
        </button>
      </li>
    </ul>
    <div class="tab-content" id="tabContent">

      <!-- Personal Data -->
      <div class="tab-pane fade show active" id="personalSection" role="tabpanel">

        <div formGroupName="personalData" class="row g-3 mt-1">
          <!-- Ragione Sociale -->
          <div class="col-md-9">
            <label for="companyName" class="form-label">Ragione Sociale</label>
            <input type="text" id="companyName" formControlName="companyName" class="form-control" name="companyName"
                   [ngClass]="{ 'is-invalid': submitted && form.get('personalData.companyName')?.errors }"/>
            <div *ngIf="form.get('personalData.companyName')?.touched && form.get('personalData.companyName')?.invalid"
                 class="invalid-feedback">
              La ragione sociale è obbligatoria.
            </div>
          </div>

          <!-- Partita IVA -->
          <div class="col-md-3">
            <label for="vat" class="form-label">Partita IVA</label>
            <input type="text" id="vat" formControlName="vat" class="form-control" name="vat"
                   [ngClass]="{ 'is-invalid': submitted && form.get('personalData.vat')?.errors }"/>
            <div *ngIf="form.get('personalData.vat')?.touched && form.get('personalData.vat')?.invalid"
                 class="invalid-feedback">
              La partita IVA è obbligatoria.
            </div>
          </div>

          <!-- Indirizzo -->
          <div class="col-md-6">
            <label for="address" class="form-label">Indirizzo</label>
            <input type="text" id="address" formControlName="address" class="form-control" name="address"
                   [ngClass]="{ 'is-invalid': submitted && form.get('personalData.address')?.errors }"/>
            <div *ngIf="form.get('personalData.address')?.touched && form.get('personalData.address')?.invalid"
                 class="invalid-feedback">
              L'indirizzo è obbligatorio.
            </div>
          </div>

          <!-- Telefono -->
          <div class="col-md-3">
            <label for="phone" class="form-label">Telefono</label>
            <input type="text" id="phone" formControlName="phone" class="form-control" name="phone"
                   [ngClass]="{ 'is-invalid': submitted && form.get('personalData.phone')?.errors }"/>
            <div *ngIf="form.get('personalData.phone')?.touched && form.get('personalData.phone')?.invalid"
                 class="invalid-feedback">
              Il telefono è obbligatorio.
            </div>
          </div>

          <!-- Email -->
          <div class="col-md-3">
            <label for="mail" class="form-label">Email</label>
            <input type="email" id="mail" formControlName="mail" class="form-control" name="mail"
                   [ngClass]="{ 'is-invalid': submitted && form.get('personalData.mail')?.errors }"/>
            <div *ngIf="form.get('personalData.mail')?.touched && form.get('personalData.mail')?.invalid"
                 class="invalid-feedback">
              Inserisci un'email valida.
            </div>
          </div>

          <!-- Riferimento Ordine -->
          <div class="col-12">
            <label for="orderNumber" class="form-label">Riferimento Ordine</label>
            <input type="text" id="orderNumber" formControlName="orderNumber" class="form-control" name="orderNumber"
                   [ngClass]="{ 'is-invalid': submitted && form.get('personalData.orderNumber')?.errors }"/>
            <div *ngIf="form.get('personalData.orderNumber')?.touched && form.get('personalData.orderNumber')?.invalid"
                 class="invalid-feedback">
              Il riferimento ordine è obbligatorio.
            </div>
          </div>
        </div>

      </div>

      <!-- Product Data -->
      <div class="tab-pane fade" id="productSection" role="tabpanel">
        <div formGroupName="productData" class="row g-3 mt-1">
          <!-- Prodotto -->
          <div class="col-md-6">
            <label for="product" class="form-label">Prodotto</label>
            <input type="text" id="product" formControlName="product" class="form-control" name="product"
                   [ngClass]="{ 'is-invalid': submitted && form.get('productData.product')?.errors }"/>
            <div *ngIf="form.get('productData.product')?.touched && form.get('productData.product')?.invalid"
                 class="invalid-feedback">
              Il prodotto è obbligatorio.
            </div>
          </div>

          <!-- Tipo Anta -->
          <div class="col-md-6">
            <label class="form-label">Tipo Anta</label>
            <div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" formControlName="glassStopper" type="checkbox" value=""
                       id="glassStopper"/>
                <label class="form-check-label" for="glassStopper">Ferma Vetro</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" formControlName="windowSlide" type="checkbox" value=""
                       id="windowSlide"/>
                <label class="form-check-label" for="windowSlide">Infilo</label>
              </div>
            </div>
          </div>

          <!-- Colore Interno -->
          <div class="col-md-3">
            <label for="internalColor" class="form-label">Colore Interno</label>
            <input type="text" id="internalColor" formControlName="internalColor" class="form-control"
                   [ngClass]="{ 'is-invalid': submitted && form.get('productData.internalColor')?.errors }"/>
            <div
              *ngIf="form.get('productData.internalColor')?.touched && form.get('productData.internalColor')?.invalid"
              class="invalid-feedback">
              Il colore interno è obbligatorio.
            </div>
          </div>

          <!-- Colore Esterno -->
          <div class="col-md-3">
            <label for="externalColor" class="form-label">Colore Esterno</label>
            <input type="text" id="externalColor" formControlName="externalColor" class="form-control"
                   [ngClass]="{ 'is-invalid': submitted && form.get('productData.externalColor')?.errors }"/>
            <div
              *ngIf="form.get('productData.externalColor')?.touched && form.get('productData.externalColor')?.invalid"
              class="invalid-feedback">
              Il colore esterno è obbligatorio.
            </div>
          </div>

          <!-- Colore Accessori -->
          <div class="col-md-3">
            <label for="accessoryColor" class="form-label">Colore Accessori</label>
            <input type="text" id="accessoryColor" formControlName="accessoryColor" class="form-control"
                   [ngClass]="{ 'is-invalid': submitted && form.get('productData.accessoryColor')?.errors }"/>
            <div
              *ngIf="form.get('productData.accessoryColor')?.touched && form.get('productData.accessoryColor')?.invalid"
              class="invalid-feedback">
              Il colore degli accessori è obbligatorio.
            </div>
          </div>

          <!-- Zona Climatica -->
          <div class="col-md-3">
            <label for="climateZone" class="form-label">Zona Climatica</label>
            <input type="text" id="climateZone" formControlName="climateZone" class="form-control"
                   [ngClass]="{ 'is-invalid': submitted && form.get('productData.climateZone')?.errors }"/>
            <div *ngIf="form.get('productData.climateZone')?.touched && form.get('productData.climateZone')?.invalid"
                 class="invalid-feedback">
              La zona climatica è obbligatoria.
            </div>
          </div>

          <!-- Note -->
          <div class="col-md-12">
            <label for="notes" class="form-label">Note</label>
            <textarea id="notes" formControlName="notes" class="form-control"></textarea>
          </div>
        </div>

      </div>

      <!-- Windows Data -->
      <div class="tab-pane fade" id="measurementsSection" role="tabpanel">
        <div formArrayName="windowsData" class="row g-3 mt-1">
          <div class="table-responsive d-none d-lg-block">
            <table class="table table-sm table-bordered">
              <thead>
              <tr>
                <th rowspan="2">Pos.</th>
                <th rowspan="2">Largh.</th>
                <th rowspan="2">Alt.</th>
                <th rowspan="2">Q.tà</th>
                <th rowspan="2">Tipologia</th>
                <th rowspan="2">Apertura</th>
                <th rowspan="2">Vetro</th>
                <th rowspan="2">Traverso</th>
                <th colspan="4">Rifilo Battuta</th>
                <th rowspan="2"></th>
              </tr>
              <tr>
                <th>Sx</th>
                <th>Dx</th>
                <th>Sopra</th>
                <th>Sotto</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let row of windows.controls; let i = index" [formGroupName]="i">

                <!-- Posizione -->
                <td><input type="text" inputmode="numeric" formControlName="position" class="form-control" readonly/>
                </td>

                <!-- Larghezza -->
                <td>
                  <input type="text" inputmode="numeric" formControlName="width" class="form-control"
                         [ngClass]="{ 'is-invalid': hasTriggeredValidation && row.get('width')?.errors }"
                         (input)="onRowInputNumber($event, i, 'width')"/>
                  <div *ngIf="(row.get('width')?.touched || hasTriggeredValidation) && row.get('width')?.invalid"
                       class="invalid-feedback">
                    La larghezza è obbligatoria.
                  </div>
                </td>

                <!-- Altezza -->
                <td>
                  <input type="text" inputmode="numeric" formControlName="height" class="form-control"
                         [ngClass]="{ 'is-invalid': hasTriggeredValidation && row.get('height')?.errors }"
                         (input)="onRowInputNumber($event, i, 'height')"/>
                  <div *ngIf="(row.get('height')?.touched || hasTriggeredValidation) && row.get('height')?.invalid"
                       class="invalid-feedback">
                    L'altezza è obbligatoria.
                  </div>
                </td>

                <!-- Quantità -->
                <td>
                  <input type="text" inputmode="numeric" formControlName="quantity" class="form-control"
                         [ngClass]="{ 'is-invalid': hasTriggeredValidation && row.get('quantity')?.errors }"
                         (input)="onRowInputNumber($event, i, 'quantity')"/>
                  <div *ngIf="(row.get('quantity')?.touched || hasTriggeredValidation) && row.get('quantity')?.invalid"
                       class="invalid-feedback">
                    La quantità è obbligatoria.
                  </div>
                </td>

                <!-- Tipologia -->
                <td>
                  <input type="text" formControlName="windowType" class="form-control"
                         [ngClass]="{ 'is-invalid': hasTriggeredValidation && row.get('windowType')?.errors }"/>
                  <div
                    *ngIf="(row.get('windowType')?.touched || hasTriggeredValidation) && row.get('windowType')?.invalid"
                    class="invalid-feedback">
                    La tipologia è obbligatoria.
                  </div>
                </td>

                <!-- Apertura -->
                <td>
                  <input type="text" formControlName="openingType" class="form-control"
                         [ngClass]="{ 'is-invalid': hasTriggeredValidation && row.get('openingType')?.errors }"/>
                  <div
                    *ngIf="(row.get('openingType')?.touched || hasTriggeredValidation) && row.get('openingType')?.invalid"
                    class="invalid-feedback">
                    L'apertura è obbligatoria.
                  </div>
                </td>

                <!-- Vetro -->
                <td>
                  <input type="text" formControlName="glassType" class="form-control"
                         [ngClass]="{ 'is-invalid': hasTriggeredValidation && row.get('glassType')?.errors }"/>
                  <div
                    *ngIf="(row.get('glassType')?.touched || hasTriggeredValidation) && row.get('glassType')?.invalid"
                    class="invalid-feedback">
                    Il vetro è obbligatorio.
                  </div>
                </td>

                <!-- Traverso -->
                <td>
                  <input type="text" formControlName="crosspiece" class="form-control"
                         [ngClass]="{ 'is-invalid': hasTriggeredValidation && row.get('crosspiece')?.errors }"/>
                  <div
                    *ngIf="(row.get('crosspiece')?.touched || hasTriggeredValidation) && row.get('crosspiece')?.invalid"
                    class="invalid-feedback">
                    Il traverso è obbligatorio.
                  </div>
                </td>

                <td><input type="text" inputmode="numeric" formControlName="leftTrim" class="form-control"
                           (input)="onRowInputNumber($event, i, 'leftTrim')"/></td>
                <td><input type="text" inputmode="numeric" formControlName="rightTrim" class="form-control"
                           (input)="onRowInputNumber($event, i, 'rightTrim')"/></td>
                <td><input type="text" inputmode="numeric" formControlName="upperTrim" class="form-control"
                           (input)="onRowInputNumber($event, i, 'upperTrim')"/></td>
                <td><input type="text" inputmode="numeric" formControlName="belowThreshold" class="form-control"
                           (input)="onRowInputNumber($event, i, 'belowThreshold')"/></td>
                <td>
                  <button type="button" class="btn btn-danger btn-sm" (click)="removeRow(i)">Rimuovi</button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <!-- Responsive Layout -->
          <div class="d-block d-lg-none">
            <div *ngFor="let row of windows.controls; let i = index" [formGroupName]="i" class="card mb-3 p-3">
              <div class="mb-2">
                <label class="form-label">Posizione</label>
                <input type="text" formControlName="position" class="form-control" readonly/>
              </div>
              <div class="mb-2">
                <label class="form-label">Larghezza</label>
                <input type="text" inputmode="numeric" formControlName="width" class="form-control"
                       [ngClass]="{ 'is-invalid': hasTriggeredValidation && row.get('width')?.errors }"
                       (input)="onRowInputNumber($event, i, 'width')"/>
                <div *ngIf="(row.get('width')?.touched || hasTriggeredValidation) && row.get('width')?.invalid"
                     class="invalid-feedback">
                  La larghezza è obbligatoria.
                </div>
              </div>
              <div class="mb-2">
                <label class="form-label">Altezza</label>
                <input type="text" inputmode="numeric" formControlName="height" class="form-control"
                       [ngClass]="{ 'is-invalid': hasTriggeredValidation && row.get('height')?.errors }"
                       (input)="onRowInputNumber($event, i, 'height')"/>
                <div *ngIf="(row.get('height')?.touched || hasTriggeredValidation) && row.get('height')?.invalid"
                     class="invalid-feedback">
                  L'altezza è obbligatoria.
                </div>
              </div>
              <div class="mb-2">
                <label class="form-label">Quantità</label>
                <input type="text" inputmode="numeric" formControlName="quantity" class="form-control"
                       [ngClass]="{ 'is-invalid': hasTriggeredValidation && row.get('quantity')?.errors }"
                       (input)="onRowInputNumber($event, i, 'quantity')"/>
                <div *ngIf="(row.get('quantity')?.touched || hasTriggeredValidation) && row.get('quantity')?.invalid"
                     class="invalid-feedback">
                  La quantità è obbligatoria.
                </div>
              </div>
              <div class="mb-2">
                <label class="form-label">Tipologia</label>
                <input type="text" formControlName="windowType" class="form-control"
                       [ngClass]="{ 'is-invalid': hasTriggeredValidation && row.get('windowType')?.errors }"/>
                <div
                  *ngIf="(row.get('windowType')?.touched || hasTriggeredValidation) && row.get('windowType')?.invalid"
                  class="invalid-feedback">
                  La tipologia è obbligatoria.
                </div>
              </div>
              <div class="mb-2">
                <label class="form-label">Apertura</label>
                <input type="text" formControlName="openingType" class="form-control"
                       [ngClass]="{ 'is-invalid': hasTriggeredValidation && row.get('openingType')?.errors }"/>
                <div
                  *ngIf="(row.get('openingType')?.touched || hasTriggeredValidation) && row.get('openingType')?.invalid"
                  class="invalid-feedback">
                  L'apertura è obbligatoria.
                </div>
              </div>
              <div class="mb-2">
                <label class="form-label">Vetro</label>
                <input type="text" formControlName="glassType" class="form-control"
                       [ngClass]="{ 'is-invalid': hasTriggeredValidation && row.get('glassType')?.errors }"/>
                <div
                  *ngIf="(row.get('glassType')?.touched || hasTriggeredValidation) && row.get('glassType')?.invalid"
                  class="invalid-feedback">
                  Il vetro è obbligatorio.
                </div>
              </div>
              <div class="mb-2">
                <label class="form-label">Traverso</label>
                <input type="text" formControlName="crosspiece" class="form-control"
                       [ngClass]="{ 'is-invalid': hasTriggeredValidation && row.get('crosspiece')?.errors }"/>
                <div
                  *ngIf="(row.get('crosspiece')?.touched || hasTriggeredValidation) && row.get('crosspiece')?.invalid"
                  class="invalid-feedback">
                  Il traverso è obbligatorio.
                </div>
              </div>

              <hr class="section-separator"/>

              <!-- Rifilo Battuta Section -->
              <div class="mb-3">
                <h6 class="form-label">Rifilo Battuta</h6>
                <div class="row">
                  <div class="col-6">
                    <label class="form-label">Sx</label>
                    <input type="text" inputmode="numeric" formControlName="leftTrim" class="form-control"
                           (input)="onRowInputNumber($event, i, 'leftTrim')"/></div>
                  <div class="col-6">
                    <label class="form-label">Dx</label>
                    <input type="text" inputmode="numeric" formControlName="rightTrim" class="form-control"
                           (input)="onRowInputNumber($event, i, 'rightTrim')"/></div>
                  <div class="col-6 mt-2">
                    <label class="form-label">Sopra</label>
                    <input type="text" inputmode="numeric" formControlName="upperTrim" class="form-control"
                           (input)="onRowInputNumber($event, i, 'upperTrim')"/>
                  </div>
                  <div class="col-6 mt-2">
                    <label class="form-label">Sotto</label>
                    <input type="text" inputmode="numeric" formControlName="belowThreshold" class="form-control"
                           (input)="onRowInputNumber($event, i, 'belowThreshold')"/>
                  </div>
                </div>
              </div>
              <button type="button" class="btn btn-danger w-100" (click)="removeRow(i)">Rimuovi</button>
            </div>
          </div>
          <button type="button" class="btn btn-primary mt-3"
                  (click)="addRow()"
                  [disabled]="addRowCheck()">
            Aggiungi Finestra
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
