@import "../../custom-variables";

.container {
  max-width: 1200px;
  margin: auto;
  background-color: #ffffff; /* White background */
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.price-display {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  font-weight: 700;
  color: #fff;
  background-color: $success-bold;
  border: 2px solid $success-bold;
  border-radius: 0.375rem;
  text-align: center;
  cursor: default;
  user-select: none;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.price-display:hover {
  background-color: $success;
  border-color: $success;
}

.innova-form {
  .form-control.is-invalid {
    border-color: $danger;
    box-shadow: 0 0 0 0.2rem rgba(255, 111, 97, 0.25);
  }

  .invalid-feedback {
    color: $danger;
    font-size: 0.875rem;
    margin-top: 0.25rem;
  }

  .form-control.is-invalid {
    border-color: $danger;
    box-shadow: 0 0 0 0.2rem rgba(255, 111, 97, 0.25);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23FF6F61'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23FF6F61' stroke='none'/%3e%3c/svg%3e");
  }

  .form-control {
    &:focus {
      border-color: $primary; // Border color on focus
      box-shadow: 0 0 0 0.2rem rgba(51, 153, 204, 0.25);
    }
  }

  th,
  .form-label {
    color: $primary;
    font-weight: bold;
  }


  .form-check {

    .form-check-label {
      color: $primary;
      font-weight: 400;
    }

    .form-check-input {
      accent-color: $primary;
      border-color: $primary;
      box-shadow: 0 0 0 0.2rem rgba(51, 153, 204, 0.25);

      &:checked {
        background-color: $primary;
        border-color: $primary;
      }

      &:focus {
        box-shadow: 0 0 0 0.2rem rgba(51, 153, 204, 0.5);
      }

      &:disabled {
        background-color: lighten($primary, 20%);
        border-color: lighten($primary, 20%);
        opacity: 0.5;
      }
    }
  }
}

.tabs-container {
  width: 100%;
}

.nav-tabs .nav-link {
  color: $primary; /* Bootstrap blue */
  font-weight: bold;
}

.nav-tabs .nav-link.active {
  background-color: $primary;
  color: #fff;
}

.table-bordered th {
  text-align: center;
  vertical-align: middle;
}

.button-container {
  display: flex;
  justify-content: center;
}

@media (max-width: 992px) {
  .mt-5 {
    margin-top: 0!important;
  }

  .table {
    font-size: 0.8rem;
  }
  .table th, .table td {
    padding: 0.5rem;
  }
  .btn {
    font-size: 0.8rem;
  }
}
