<div class="price-container justify-content-center">
  <ng-container *ngIf="!isPriceNull">
    <div class="amount-box">
      <span class="amount-label">Imponibile</span>
      <span class="amount-value">{{ formattedAmountIntegerPart }}<span class="decimals">,{{ formattedAmountDecimalPart }}</span> €</span>
    </div>
    <div class="tax-box">
      <span class="tax-label">Imposta</span>
      <span class="tax-value">{{ formattedTaxIntegerPart }}<span class="decimals">,{{ formattedTaxDecimalPart }}</span> €</span>
    </div>
  </ng-container>
  <ng-container *ngIf="isPriceNull">
    <div class="tax-box"><span class="tax-label">-</span><span class="tax-value">€</span></div>
  </ng-container>
</div>
