/* You can add global styles to this file, and also import other style files */
@import 'custom-variables.scss';
@import 'ngx-toastr/toastr';

.btn-primary {
  background-color: $primary;
  border-color: $primary;
  color: #fff;


  &:hover {
    background-color: darken($primary, 10%);
    border-color: darken($primary, 10%);
  }


  &:active {
    background-color: darken($primary, 15%) !important;
    border-color: darken($primary, 15%) !important;
    box-shadow: inset 0 0 0.2rem rgba(51, 153, 204, 0.5) !important;
  }


  &:disabled {
    background-color: lighten($primary, 20%);
    border-color: lighten($primary, 20%);
    color: rgba(255, 255, 255, 0.7);
  }
}


.btn-secondary {
  background-color: $secondary;
  border-color: $secondary;
  color: #fff;


  &:hover {
    background-color: darken($secondary, 10%);
    border-color: darken($secondary, 10%);
  }


  &:active {
    background-color: darken($secondary, 15%) !important;
    border-color: darken($secondary, 15%) !important;
    box-shadow: inset 0 0 0.2rem rgba(153, 204, 51, 0.5) !important;
  }


  &:disabled {
    background-color: lighten($secondary, 20%);
    border-color: lighten($secondary, 20%);
    color: rgba(255, 255, 255, 0.7);
  }
}


.btn-danger {
  background-color: $danger;
  border-color: $danger;
  color: #fff;

  & svg {
    vertical-align: middle;
    margin-right: 0;
  }


  &:hover {
    background-color: darken($danger, 10%);
    border-color: darken($danger, 10%);
  }


  &:active {
    background-color: darken($danger, 15%) !important;
    border-color: darken($danger, 15%) !important;
    box-shadow: inset 0 0 0.2rem rgba(255, 111, 97, 0.5) !important;
  }


  &:disabled {
    background-color: lighten($danger, 20%);
    border-color: lighten($danger, 20%);
    color: rgba(255, 255, 255, 0.7);
  }
}

.icon-trash {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.icon-preview {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.icon-sm {
  width: 16px !important;
  height: 16px !important;
}

.icon-default {
  width: 32px;
  height: 32px;
  color: white;
  fill: currentColor;
  stroke: currentColor;
}

.btn-secondary-light {
  background-color: #adb5bd; /* grigio chiaro - Bootstrap gray-600 */
  color: white;
  border: none;
}

.btn-secondary-light:hover {
  background-color: #6c757d; /* colore standard btn-secondary */
}

.custom-toastr {
  border-radius: 0.75rem!important;

  width: 340px!important;
}

.toast-warning {
  background-color: #CC594D !important;
}

.toast-success {
  background-color: #d4edda!important;
  color: #155724!important;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCA1MTIgNTEyJyB3aWR0aD0nNTEyJyBoZWlnaHQ9JzUxMic+PHBhdGggZmlsbD0nIzE1NTcyNCcgZD0nTTE3My44OTggNDM5LjQwNGwtMTY2LjQtMTY2LjRjLTkuOTk3LTkuOTk3LTkuOTk3LTI2LjIwNiAwLTM2LjIwNGwzNi4yMDMtMzYuMjA0YzkuOTk3LTkuOTk4IDI2LjIwNy05Ljk5OCAzNi4yMDQgMEwxOTIgMzEyLjY5IDQzMi4wOTUgNzIuNTk2YzkuOTk3LTkuOTk3IDI2LjIwNy05Ljk5NyAzNi4yMDQgMGwzNi4yMDMgMzYuMjA0YzkuOTk3IDkuOTk3IDkuOTk3IDI2LjIwNiAwIDM2LjIwNGwtMjk0LjQgMjk0LjQwMWMtOS45OTggOS45OTctMjYuMjA3IDkuOTk3LTM2LjIwNC0uMDAxeicvPjwvc3ZnPg==")!important;
}

.toast-info {
  background-color: #3399CC!important;
}
