.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1040;
}

.small-title {
  font-size: 0.8em;
  color: rgb(102, 102, 102);
  margin-left: 1em;
}

.text-muted.small {
  font-size: 0.775rem;
}

.scrollable-body {
  max-height: 60vh;
  overflow-y: auto;
}

.scrollable-body::-webkit-scrollbar {
  width: 6px;
}
.scrollable-body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.modal-lg {
  max-height: 70vh;
}
